html
    head
        link(href="https://fonts.googleapis.com icon?family=Material+Icons|Montserrat|Oleo+Script" rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="app.css")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="theme-color" content="#ffffff")
        title=title
    body
        section#main-container
        footer.site-footer
            .container
                .row
                    .col.s12.l3.center-align
                        a.dropdown-button.btn.btn-flat(href='#', data-activates='dropdown1') Idioma
                        // Dropdown Structure
                        ul#dropdown1.dropdown-content
                            li
                                a(href='#!') Español
                            li
                                a(href='#!') Ingles
                    .col.s12.l3.push-l6.center-align photogram 1016
                    a.li(href='signin') Signin
        // Compiled and minified JavaScript
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
        script(type='application/javascript' src='app.js')
